@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

@keyframes slide-in {
  from {
    transform: translate(-100%, -100%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes slide-out {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-100%, -100%);
  }
}
